/* Importing Roboto font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

/* Defining color variables using CSS custom properties */
:root {
  --tomato: hsl(4, 100%, 67%);
  --dark-slate-gray: hsl(234, 29%, 20%);
  --gray: hsl(231, 7%, 60%);
  --white: hsl(235, 100%, 98%);
}

/* Global CSS reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  background-color: rgb(54, 54, 87); /* Background color using custom property */
  min-height: 100vh;
  font-size: 16px;
  line-height: 1.8;
  font-family: "Roboto"; /* Applying Roboto font */
  display: grid;
  place-content: center; /* Centering content vertically and horizontally */
}

/* Main container styles */
.container {
  max-width: 955px;
  margin: 0 auto;
  background-color: white; /* Background color using custom property */
  padding: 1.5rem;
  border-radius: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two-column layout */
}

/* Success state for the container */
.container.success {
  display: initial; /* Displaying the container when in success state */
  padding: 3.5rem; /* Increased padding in success state */
}

/* Left side styles */
.left {
  color: var(--dark-slate-gray); /* Text color using custom property */
  padding: 4rem 2rem 2rem 2rem;
}

.left-info h1 {
  font-size: 3.5rem;
  margin-bottom: .5rem;
  color: rgb(54, 54, 87);
}

#icon1{
  margin-left: 1.5em;
  margin-bottom: 1em;
}
.left-info p,
.left-info ul {
  margin-bottom: 1.5rem;
  font-size: 16px;
  font-weight: bold;
}

.left-info ul li {
  list-style-image: url(assets/images/icon-list.svg); /* Using custom list-style image */
  list-style-position: inside;
}
h1{
  font-size: 52px;
  font-weight: bold;
  font-family:'Times New Roman', Times, serif;
#form{
  margin-top: 1.5em;
margin-bottom: 1.5em;
}
}
/* Form item styles */
.form-item {
  display: flex;
  flex-direction: column;
}

.form-item label {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: .5rem;
  display: flex;
  justify-content: space-between;
}

.form-item label .invalid-email {
  color: var(--tomato); /* Text color for invalid email */
  display: none;
}

.form-item label .invalid-email.active {
  display: block;
}

.form-item input,
.form-item button {
  padding: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 8px;
}

.form-item input {
  border: 1px solid var(--gray); /* Border color using custom property */
}

.form-item input.active {
  background-color: rgb(255, 98, 87, 0.2); /* Background color for active state */
  border: 1px solid var(--tomato); /* Border color for active state */
}

.form-item button {
  cursor: pointer;
  background: var(--dark-slate-gray); /* Button background color using custom property */
  color: var(--white); /* Button text color using custom property */
  font-weight: 700;
  outline: none;
  border: none;
}

.form-item button:hover {
  background: linear-gradient(127deg, rgba(255, 63, 124, 1) 40%, rgba(255, 154, 34, 1) 70%); /* Button hover gradient */
}

/* Right side styles */
.right {
  text-align: right; /* Aligning text to the right */
}

/* Confirmation message styles */
.confirmed-message {
  display: none; /* Initially hiding the confirmation message */
  line-height: 1.2;
}

.confirmed-message.active {
  display: block; /* Displaying the confirmation message when active */
}

.confirmed-message img {
  width: 80px; /* Setting image width */
}

.confirmed-message h2 {
  font-size: 3rem;
  margin-top: 2rem;
}

.confirmed-message p {
  margin: 2rem 0;
}

.confirmed-message button {
  cursor: pointer;
  background-color: var(--dark-slate-gray); /* Button background color using custom property */
  color: var(--white); /* Button text color using custom property */
  font-weight: 700;
  width: 100%;
  padding: 1rem;
  border-radius: 8px;
  border: none;
  outline: none;
}

.confirmed-message button:hover {
  background: linear-gradient(127deg, rgba(255, 63, 124, 1) 40%, rgb(255, 255, 10)) 70%; /* Button hover gradient */
}

#user-email {
  font-weight: 700;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  body {
    display: initial;
    line-height: 1.4;
  }

  .container {
    width: 100%;
    height: initial;
    padding: 0;
    grid-template-columns: 1fr; /* Changing to single column layout */
  }

  .container.success {
    display: block;
    padding: initial;
  }

  .left {
    padding: 1rem 2rem;
    grid-row: 2; /* Aligning left content to the second row on smaller screens */
  }

  .left-info ul li {
    margin-bottom: 1rem;
  }

  .right img {
    width: 100%; /* Making the image responsive */
  }

  .confirmed-message.active {
    height: 100vh;
    padding: 14rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .confirmed-message button {
    margin-top: auto;
  }
}
